.main-header {
    color: skyblue;
    margin-top: 10px;
    height: 75px;
    padding: 5px 5%;
    border-radius: 20px;
    background: linear-gradient(left, rgba(238, 196, 135, .5) 0%, rgba(243, 207, 154, .5) 3%, rgba(248, 216, 162, .5) 6%, rgba(243, 207, 154, .5) 6%, rgba(243, 207, 154, .5) 9%, rgba(241, 202, 136, .5) 12%, rgba(243, 207, 154, .5) 15%, rgba(244, 208, 158, .5) 17%, rgba(243, 207, 154, .5) 19%, rgba(243, 207, 154, .5) 21%, rgba(250, 221, 176, .5) 23%, rgba(250, 221, 176, .5) 25%, rgba(243, 207, 154, .5) 27%, rgba(238, 200, 138, .5) 29%, rgba(243, 207, 154, .5) 29%, rgba(243, 207, 154, .5) 32%, rgba(243, 207, 154, .5) 34%, rgba(243, 207, 154, .5) 37%, rgba(250, 221, 176, .5) 40%, rgba(250, 221, 176, .5) 43%, rgba(243, 207, 154, .5) 43%, rgba(243, 207, 154, .5) 44%, rgba(243, 207, 154, .5) 47%, rgba(238, 200, 138, .5) 49%, rgba(243, 207, 154, .5) 52%, rgba(250, 221, 176, .5) 54%, rgba(244, 208, 158, .5) 56%, rgba(243, 207, 154, .5) 59%, rgba(244, 208, 158, .5) 61%, rgba(250, 221, 176, .5) 64%, rgba(243, 207, 154, .5) 64%, rgba(244, 208, 158, .5) 66%, rgba(243, 207, 154, .5) 69%, rgba(248, 216, 162, .5) 71%, rgba(243, 207, 154, .5) 74%, rgba(243, 207, 154, .5) 76%, rgba(243, 207, 154, .5) 77%, rgba(243, 207, 154, .5) 80%, rgba(250, 221, 176, .5) 81%, rgba(243, 207, 154, .5) 83%, rgba(250, 221, 176, .5) 83%, rgba(250, 221, 176, .5) 85%, rgba(243, 207, 154, .5) 87%, rgba(250, 221, 176, .5) 89%, rgba(250, 221, 176, .5) 91%, rgba(243, 207, 154, .5) 92%, rgba(248, 216, 162, .5) 96%, rgba(243, 207, 154, .5) 97%, rgba(243, 207, 154, .5) 97%, rgba(243, 207, 154, .5) 98%, rgba(243, 207, 154, .5) 100%),
        linear-gradient(right, rgba(238, 196, 135, .3) 0%, rgba(243, 207, 154, .3) 3%, rgba(248, 216, 162, .3) 6%, rgba(243, 207, 154, .3) 6%, rgba(243, 207, 154, .3) 9%, rgba(241, 202, 136, .3) 12%, rgba(243, 207, 154, .3) 15%, rgba(244, 208, 158, .3) 17%, rgba(243, 207, 154, .3) 19%, rgba(243, 207, 154, .3) 21%, rgba(250, 221, 176, .3) 23%, rgba(250, 221, 176, .3) 25%, rgba(243, 207, 154, .3) 27%, rgba(238, 200, 138, .3) 29%, rgba(243, 207, 154, .3) 29%, rgba(243, 207, 154, .3) 32%, rgba(243, 207, 154, .3) 34%, rgba(243, 207, 154, .3) 37%, rgba(250, 221, 176, .3) 40%, rgba(250, 221, 176, .3) 43%, rgba(243, 207, 154, .3) 43%, rgba(243, 207, 154, .3) 44%, rgba(243, 207, 154, .3) 47%, rgba(238, 200, 138, .3) 49%, rgba(243, 207, 154, .3) 52%, rgba(250, 221, 176, .3) 54%, rgba(244, 208, 158, .3) 56%, rgba(243, 207, 154, .3) 59%, rgba(244, 208, 158, .3) 61%, rgba(250, 221, 176, .3) 64%, rgba(243, 207, 154, .3) 64%, rgba(244, 208, 158, .3) 66%, rgba(243, 207, 154, .3) 69%, rgba(248, 216, 162, .3) 71%, rgba(243, 207, 154, .3) 74%, rgba(243, 207, 154, .3) 76%, rgba(243, 207, 154, .3) 77%, rgba(243, 207, 154, .3) 80%, rgba(250, 221, 176, .3) 81%, rgba(243, 207, 154, .3) 83%, rgba(250, 221, 176, .3) 83%, rgba(250, 221, 176, .3) 85%, rgba(243, 207, 154, .3) 87%, rgba(250, 221, 176, .3) 89%, rgba(250, 221, 176, .3) 91%, rgba(243, 207, 154, .3) 92%, rgba(248, 216, 162, .3) 96%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 98%, rgba(243, 207, 154, .3) 100%),
        linear-gradient(left, rgba(238, 196, 135, .3) 0%, rgba(243, 207, 154, .3) 3%, rgba(238, 200, 138, .3) 49%, rgba(243, 207, 154, .3) 52%, rgba(250, 221, 176, .3) 54%, rgba(244, 208, 158, .3) 56%, rgba(243, 207, 154, .2) 59%, rgba(244, 208, 158, .3) 61%, rgba(250, 221, 176, .3) 64%, rgba(243, 207, 154, .3) 64%, rgba(244, 208, 158, .3) 66%, rgba(243, 207, 154, .3) 69%, rgba(248, 216, 162, .3) 71%, rgba(243, 207, 154, .3) 74%, rgba(243, 207, 154, .3) 76%, rgba(243, 207, 154, .3) 77%, rgba(243, 207, 154, .3) 80%, rgba(250, 221, 176, .3) 81%, rgba(243, 207, 154, .3) 83%, rgba(250, 221, 176, .3) 83%, rgba(250, 221, 176, .3) 85%, rgba(243, 207, 154, .3) 87%, rgba(250, 221, 176, .3) 89%, rgba(250, 221, 176, .3) 91%, rgba(243, 207, 154, .3) 92%, rgba(248, 216, 162, .3) 96%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 97%, rgba(243, 207, 154, .3) 98%, rgba(243, 207, 154, .3) 100%);
    background-color: rgba(33, 22, 0, 1);
    background-size: 500px 20px, 300px 20px, 20px 820px;
    background-position: 50% 50%, 70% 70%, 30% 30%;

    box-shadow: #161616 0 0 10px 3px;
}

.logo {
    color: inherit;
    font-size: 2em;
    cursor: pointer;
}

.links {
    text-decoration: none;
    height: 40px;
    width: 120px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 1.4rem;
    transition: .3s;
}

.links:hover {
    color: skyblue;
    background-color: rgba(255, 255, 0, 0.902);
    cursor: pointer;
}

.links.pressed {
    color: skyblue;
    background-color: lightyellow;
}

.btn-toggle-menu {
    background: inherit;
    color: skyblue;
    font-size: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.btn-toggle-menu:hover {
    color: skyblue;
}


.btn-toggle-menu {
    background-color: inherit;
    border: 0;
    color: skyblue
}

.btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: aliceblue;
    transition:  0.4s ;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: right top;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: right bottom;
}